= content_for :sideblock do
  %h3 Фильтрация
  %p.lh По цене:
  %p
    %input{:type => "checkbox"}/
    от 500 до 2000
  %p
    %input{:type => "checkbox"}/
    от 2000 до 5000
  %p
    %input{:type => "checkbox"}/
    от 5000 до 10 000
  %br/
  %p.lh По цвету:
  %p
    %input{:type => "checkbox"}/
    черный
  %p
    %input{:type => "checkbox"}/
    красный
  %p
    %input{:type => "checkbox"}/
    белый
  %br/
  %p.lh По типу выполнения:
  %p
    %input{:type => "checkbox"}/
    машинка
  %p
    %input{:type => "checkbox"}/
    ручная работа
  %p
    %input{:type => "checkbox"}/
    индукционная машинка
